@charset "UTF-8";
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
.navbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#daeff6), color-stop(#d2edf3), to(#bee2fa));
  background: linear-gradient(#daeff6, #d2edf3, #bee2fa);
}

.dropdown-menu.show {
  right: 0px;
  left: auto;
  border-color: transparent;
}

/* Pagina de login*/
.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #252585;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.login-box a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #3966ad;
  text-decoration: none;
  font-family: 'Prata', serif;
}

.login-box h3 {
  color: #3367a3;
  text-align: center;
  font-family: "Poller One", cursive;
}

.caja {
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}

#login {
  width: 450px;
  height: 450px;
  margin: 7em auto;
}

#register {
  width: 500px;
  height: 650px;
  margin: 7em auto;
}

#actualizarcontraseña {
  width: 400px;
  height: 500px;
  margin: 7em auto;
}

.username {
  width: 76%;
  color: #6d6c6c;
  font-family: serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.password {
  width: 76%;
  color: #666565;
  font-family: serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.username:hover, .password:hover {
  border: 2px solid #072d58 !important;
}

.submit {
  cursor: pointer;
  border-radius: 0.5rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#7895db), to(#558be2));
  background: linear-gradient(to right, #7895db, #558be2);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.icon {
  width: 7rem;
  height: 9rem;
  padding-top: 5%;
}

.error, .exito {
  background-color: #e45a5a;
  color: white;
  border-style: none;
  font-weight: bold;
}

.exito {
  background-color: #1ea55b;
}
/*# sourceMappingURL=styles.css.map */