@charset "UTF-8";
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
.navbar {
  background: #0d1418;
}

body, html {
  background: -webkit-gradient(linear, left top, left bottom, from(#daeff6), color-stop(#d2edf3), to(#d8e5fa));
  background: linear-gradient(#daeff6, #d2edf3, #d8e5fa);
  background-attachment: fixed;
}

.dropdown-menu.show {
  right: 0px;
  left: auto;
  border-color: transparent;
}

/* Pagina de login*/
.login-box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #0d2c3a;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.login-box a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #0d2c3a;
  text-decoration: none;
}
.login-box h3 {
  color: #0d2c3a;
  text-align: center;
}

.caja {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}

#login {
  width: 450px;
  height: 450px;
  margin: 7em auto;
}

#register {
  width: 500px;
  margin: 4%;
}
@media only screen and (max-width: 600px) {
  #register {
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

#nuevpublicacion-box {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

#actualizarcontraseña {
  width: 450px;
  margin: 7em auto;
}

cam_pass {
  padding: 6%;
}

.username, .nombre, #apellido, #correo, #telefono {
  width: 76%;
  color: #6d6c6c;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.password {
  width: 76%;
  color: #666565;
  font-family: serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.username:hover, .password:hover {
  border: 2px solid #117dbb;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.icon {
  width: 7rem;
  height: 9rem;
  padding-top: 5%;
}

.error, .exito {
  background-color: #f3d5d5;
  color: #2a2a2a;
  border-style: none;
}

.exito {
  background-color: #dcf8e9;
}

a.submit {
  color: #fff;
}

textarea {
  resize: none;
}

.publicacion {
  width: 50rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 2vh;
}
@media only screen and (max-width: 600px) {
  .publicacion {
    width: 100%;
  }
}

.p_imagen {
  height: 23rem;
  width: 100%;
  object-fit: cover;
  padding-bottom: 1%;
}

#comm_form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  #comm_form {
    justify-content: center;
  }
}

.reviews {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  margin-bottom: 1vh;
  background-color: aliceblue;
}

@media only screen and (max-width: 600px) {
  #comentar {
    text-align: center;
  }
}

#drop_cont {
  width: unset;
}
@media only screen and (max-width: 600px) {
  #drop_cont {
    width: 100%;
    justify-content: end;
  }
}

#plus {
  position: absolute;
  right: 50%;
}
@media only screen and (max-width: 600px) {
  #plus {
    position: unset;
  }
}

.strong, strong {
  margin: 0%;
  align-self: center;
}

.vendido {
  height: min-content;
  align-self: center;
}

table {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}

#user_info {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}

th {
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}

.post {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .post {
    display: block;
  }
}

.titulo_dashboard {
  justify-content: start;
}
@media only screen and (max-width: 600px) {
  .titulo_dashboard {
    justify-content: center;
  }
}

/* To display the block as level element */
table.scrolldown tbody, table.scrolldown thead {
  display: grid;
}

table.scrolldown tbody {
  /* Set the height of table body */
  max-height: 575px;
  /* Set vertical scroll */
  overflow-y: auto;
  /* Hide the horizontal scroll */
  overflow-x: hidden;
  /* Sacado de:  */
  /* https://www.geeksforgeeks.org/how-to-create-table-with-100-width-with-vertical-scroll-inside-table-body-in-html */
}

.table p {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 600px) {
  .table p {
    justify-content: center;
  }
}

#carousel-img {
  height: 50vh;
  object-fit: cover;
  object-position: center -50px;
}

#cont_buscar {
  z-index: 1;
  position: absolute;
  bottom: 12%;
}

#input_buscar {
  width: 60vw;
  margin-bottom: 1%;
}

#div_buscar {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  pointer-events: none;
}

.btn-category {
  color: white;
  font-size: xxx-large;
  background: rgba(152, 44, 191, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 10%;
  margin: 1%;
  justify-content: center;
  align-content: center;
  display: grid;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  bottom: 45%;
  justify-content: space-around;
  display: flex;
}

.cat_text {
  font-size: small;
  margin: 0;
}

#btn_buscar {
  color: white;
  font-size: larger;
  background: rgba(152, 44, 191, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*# sourceMappingURL=styles.css.map */
