
$text_color : white;

@mixin small {
    @media only screen and (max-width: 600px) {
      @content;
    }
}
  
@mixin medium {
    @media only screen and (min-width: 600px) and (max-width: 1130px) {
        @content;
    }
}

%centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Navbar */

.navbar{    
    background: rgb(13, 20, 24)
}

body, html {
    background-color: #fbfbfd;
}

.dropdown-menu.show {
    right: 0px;
    left: auto; 
    border-color: transparent;
}

/* Pagina de login*/
.login-box
{
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: rgb(13, 44, 58);
  font-weight: bold;
  height: 100vh;
  align-items: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
  background: url("/static/imagenes/fondo.jpg");
  a
  {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: rgb(13, 44, 58);
      text-decoration: none;
  }

  h3 {
    color: rgb(13, 44, 58);
    text-align: center;
  }
}

.caja{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  background-color: #FFFFFF;
}

#login {
    width: 450px;
    height: 30vh;
    margin: 7em auto;
    background-color: #ffffffeb;
    align-items: center;
    display: inline-grid;
    background: rgba(255, 255, 255, 0.73);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    @include small(){
        height: 50vh;
        width: 90vw;
    }
}

#register {
    width: 25vw;
    margin: 4%;
    margin: 7em auto;
    align-items: center;
    display: inline-grid;
    background: rgba(255, 255, 255, 0.73);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 60vh;

    @include small(){
        width: 90vw;
        height: 75vh;
    }
}

#nuevpublicacion-box{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#actualizarcontraseña{
    width: 450px;
    margin: 7em auto;
}

cam_pass{
    padding: 6%;
}

.username, .nombre, #apellido, #correo, #telefono
{
    width: 76%;
    color: rgb(109, 108, 108);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    border: 2px solid rgba(0, 0, 0, 0.18);
}

.password {
    width: 76%;
    color: rgb(102, 101, 101);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    border: 2px solid rgba(0, 0, 0, 0.18);
}

.username:hover, .password:hover
{
    border: 2px solid rgb(17, 125, 187);
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.icon {
    width: 7rem;
    height: 9rem;
    padding-top: 5%;
    @extend %centrar;
}

.error
{
    background-color: rgb(243, 213, 213);
    color: rgb(42, 42, 42);
    border-style: none;
}

.exito
{
    @extend .error;
    background-color: rgb(220, 248, 233);
}

a.submit{
    color: #fff;
}

textarea{
    resize: none;
    border-radius: 6px;
}

.publicacion {
    width: 20rem;
    height: 18rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    overflow: hidden;

    @include small(){
        width: 100%;
    }
}

#pub_imgs{
    border-radius: 6px;
    overflow: hidden;
    border: double black 1px;
    
    @include small(){
        flex-wrap: wrap;
    }
}

.p_imagen{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    margin: 2px;
    border-radius: 6px;
}

.pub_imagen{
    height: 85%;
    width: 100%;
    object-fit: cover;
}


#comm_form{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @include small(){
        justify-content: center;
    }
}

.reviews{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    margin-bottom: 1vh;
    background-color: aliceblue;
}

#comentar{


    @include small(){
        text-align: center;
    }
}

#drop_cont{

    width: unset;

    @include small(){
        width: 100%;
        justify-content: end;
    }
}

#plus{
    position: absolute;
    right: 50%;

    background: rgba(44, 74, 191, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    @include small(){
        position: unset;
    }
}

.strong, strong{
    margin: 0%;
    align-self: center;
}

.vendido
{
    height: min-content;
    align-self: center;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
  }
  
  #user_info {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
  }
  
  th {
    border-top: none;
  }
  
  td:first-child, th:first-child {
     border-left: none;
  }

  .post{
      display: flex;

      @include small(){
          display: block;
      }
  }

  .titulo_dashboard{
      justify-content: start;

      @include small(){
          justify-content: center;
      }
  }

  /* To display the block as level element */
table.scrolldown tbody, table.scrolldown thead {
    display: grid;
  } 
  
  table.scrolldown tbody {
      
    /* Set the height of table body */
    max-height: 575px; 
      
    /* Set vertical scroll */
    overflow-y: auto;
      
    /* Hide the horizontal scroll */
    overflow-x: hidden; 

    /* Sacado de:  */
    /* https://www.geeksforgeeks.org/how-to-create-table-with-100-width-with-vertical-scroll-inside-table-body-in-html */
  }

.table p{
    display: flex;
    justify-content: start;

    @include small(){
        justify-content: center;
    }
}
  

#carousel-img{
    height: 50vh;
    object-fit: cover;
    object-position: center -50px;
}

#cont_buscar{
    z-index: 1;
    position: absolute;
    bottom: 12%;

    @include small(){
        bottom: 17%;
    }

    @include medium(){
        bottom: 15%;
    }
}
    
#input_buscar{
    width: 60vw;
    margin-bottom: 1%;
}

#div_buscar{
    display: flex;
    justify-content: center;
    width: 100%;
}

img{
    pointer-events: none;
}

.btn-category{
    color: white;
    font-size: xxx-large;
    background: rgba(44, 74, 191, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 10%;
    height: 75%;
    margin: 1%;
    justify-content: center;
    align-content: center;
    display: grid;

    @include small(){
        font-size: unset;
        width: 18vw;
        height: 20vw;
    }

    @include medium(){
        font-size: unset;
        width: 13vw;
        height: 15vw;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    bottom: 40%;
    justify-content: space-around;
    display: flex;

    @include small(){
        left: 0;
        right: 0;
        width: 100vw;
    }
}

.cat_text{
    font-size: small;
    margin: 0;

    @include small(){
        font-size: 11px;
    }
}

#btn_buscar{
    color: white;
    font-size: larger;
    background: rgba(44, 74, 191, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#car_items{
    display: flex;
    width: 100%;
    align-items: center;

    @include small(){
        display: flex;
        flex-wrap: wrap;
    }
}

#pubs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user_pub{
    font-weight: bold;
    color: darkblue;
    margin-bottom: 0;
}

.titulo_pub{
    margin-bottom: 0;
}

#perfil{
    background: #e8e8e8;
    display: flex;
}

#footer{
    position: absolute;
    margin: 0;
    font-size: small;
    background-color: #eaeaea;
    width: 100%;
    padding-left: 1.5%;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 1%;
    margin-top: 1%;
}

.switchBtn input {display:none;}
.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 6px;
    color: #fff;
}
.switch:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 27px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch {
    background-color: #0CB355;
    padding-left: 30px;
}

input:focus + .switch {
    box-shadow: 0 0 1px #01aeed;
}

input:checked + .switch:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
    left: -5px;
}

.switch.round {
    border-radius: 34px;
}

.switch.round:before {
    border-radius: 50%;
}