{% extends "layout.html" %}

{% block title %}

    {% set dato = publicaciones['titulo'].split(' ') %}
    {{  gettext(_('Detalles')) }} - {{ dato[0] }}
    {% endblock %}

{% block main %}

<div class="detalle_publicacion container p-0 mt-5">
    <div class="container pl-3 pr-3 pb-0">
        <h4>{{publicaciones['user']}}</h4>
        <h5> {{publicaciones['titulo']}} </h5>
        <p> {{publicaciones['descripcion']}} </p>
        <br>
        <strong>{{  gettext(_('Numero telefonico: ')) }}</strong>
        {% if publicaciones['numero'] %}
            <a href="tel:+505{{publicaciones['numero']}}">{{publicaciones['numero']}}</a>
        {% else %}
            <p>{{  gettext(_('Este usuario aun no ha proporcionado informacion de numero telefonico')) }}</p>
        {% endif %}

        <br>

        <strong>{{  gettext(_('Correo electronico: ')) }}</strong>
        {% if publicaciones['correo'] %}
            <a href="mailto:{{publicaciones['correo']}}">{{publicaciones['correo']}}</a>
        {% else %}
            <p>{{  gettext(_('Este usuario aun no ha proporcionado informacion de correo electronico')) }}</p>
        {% endif %}
    </div> 
    <br>

    <div class="container d-flex p-0" id="pub_imgs">
        <img src="/{{publicaciones['imagen1']}}" class="p_imagen" alt="imagen">
        {% if publicaciones['imagen2'] %}
            <img src="/{{publicaciones['imagen2']}}" class="p_imagen" alt="imagen">
        {% endif %}
    </div>
    
</div>


<div class="container mt-5 mb-5" id="comentar">
    <label for="comentario">{{  gettext(_('Di algo acerca de esto:')) }}</label>

    <form action="/detalles?id={{id}}" id="comm_form" method="POST">
        <textarea id="comentario" class="text-center" name="comentario" placeholder="{{  gettext(_('Escribe un comentario...')) }}" rows="2" cols="125%" required></textarea>
        <input class="btn btn-primary my-2 submit" id="enviar" type="submit" value="{{  gettext(_('Comentar')) }}">
    </form>
</div>

{% for com in comentarios %}
<div class="container reviews">
    <strong>{{com['nombre_usuario']}} {{  gettext(_(' dijo:')) }}</strong>

    {% if com['puntuacion'] %}
    <div class="container p-0 d-flex">
        {% for i in range(com['puntuacion']) %}
        <h6><i class="fas fa-star"></i></h6>
        {% endfor %}
    </div>
    {% endif %}

    <p>{{com['comentario']}}</p>
</div>
{% endfor %}

<br><br><br>

{% endblock %}