{% extends "layout.html" %}

{% block title %}
LoQuieroxni
{% endblock %}

{% block body_script %}cargar_mas(){% endblock %}

{% block main %}



<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id="carousel-img" class="d-block w-100" src="static\imagenes\banner.png" alt="Imagen" disabled>
    </div>

    <label class="switchBtn">
      <input type="checkbox" id="lang">
      <div class="switch round d-flex align-items-center">En</div>
    </label>

    <div class="carousel-caption">
      <div id="car_items">
      <a id="cat_1" class="btn btn-default btn-category"><i class="fas fa-tshirt"></i><p class="cat_text">{{  gettext(_('Ropa y accesorios')) }}</p></a>
      <a id="cat_2" class="btn btn-default btn-category"><i class="fas fa-laptop"></i><p class="cat_text">{{  gettext(_('Electrónica')) }}</p></a>
      <a id="cat_3" class="btn btn-default btn-category"><i class="fas fa-users"></i><p class="cat_text">{{  gettext(_('Familia')) }}</p></a>
      <a id="cat_4" class="btn btn-default btn-category"><i class="fas fa-house-user"></i><p class="cat_text">{{  gettext(_('Hogar y jardin')) }}</p></a>
      <a id="cat_5" class="btn btn-default btn-category"><i class="fas fa-car"></i><p class="cat_text">{{  gettext(_('Vehículos')) }}</p></a>
      <a id="cat_6" class="btn btn-default btn-category"><i class="far fa-handshake"></i><p class="cat_text">{{  gettext(_('Clasificados')) }}</p></a>
      <a id="cat_7" class="btn btn-default btn-category"><i class="fas fa-tags"></i><p class="cat_text">{{  gettext(_('Ofertas')) }}</p></a>
      <a id="cat_8" class="btn btn-default btn-category"><i class="fas fa-gamepad"></i><p class="cat_text">{{  gettext(_('Entretenimiento')) }}</p></a>
      <a id="cat_9" class="btn btn-default btn-category"><i class="fas fa-icons"></i><p class="cat_text">{{  gettext(_('Pasatiempos')) }}</p></a>
      <a id="cat_10" class="btn btn-default btn-category"><i class="fas fa-home"></i><p class="cat_text">{{  gettext(_('Vivienda')) }}</p></a>
    </div>
  </div>
    <div class="container-fluid text-center" id="cont_buscar">
        <div id="div_buscar">
            <input type="text" class="form-control" name="busqueda" id="input_buscar" placeholder="{{  gettext(_('Busca algo de tu interes')) }}">
        </div>
        
        <input type="button" class="btn btn-primary" id="btn_buscar" value="{{  gettext(_('Buscar')) }}">    
    </div>
  </div>
</div>

<div class="container p0 m0 mb-5" id="pubs"></div>


{% endblock %}

{% block more %}
<div id="load" class="container text-center">
    <button class="btn btn-primary m-3" onclick="cargar_mas()">{{  gettext(_('Cargar mas...')) }}</button>
</div>

{% endblock %}