<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>

  <link rel="icon" href="" type="image/png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/349481d2fd.js" crossorigin="anonymous"></script>

</head>

<body>

  {% if session.user_id %}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
        <a class="nav-link" href="#"><i class="fas fa-plus"></i></a>

        <div class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">Cerrar sesión</a>
            <a class="dropdown-item" href="/actualizarcontraseña">Actualizar contraseña</a>
          </div>
        </div>
      </div>
    </div>
    
    {% endif %}

  </nav>

  {% if get_flashed_messages() %}
  <header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="{{ category }} alert alert-primary text-center p-3" role="alert">{{ message }}</div>
    {% endfor %}
    {% endwith %}
  </header>
  {% endif %}

  <main class="container m-0 mw-100" id="main">
    {% block main %}{% endblock %}
  </main>

</body>

</html>