<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>

  <link rel="icon" href="" type="image/png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/349481d2fd.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="static\styles.css" type="text/css">

</head>

<body onload="{% block body_script %}{% endblock %}">

  {% if session.user_id %}
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">Comunidad Emprendedora</a>
    <a class="nav-link" href="/nuevapublicacion" id="plus"><i class="fas fa-plus"></i></a>

    <div class="container m-0 p-0" id="drop_cont">
    <div class="nav-item dropleft">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
        style="color: white" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/micuenta">Mi cuenta</a>
        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
      </div>
    </div>
  </div>
    </div>
    </div>
</nav>
    {% endif %}

  

  {% if get_flashed_messages() %}
  <header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="{{ category }} alert alert-primary text-center p-3" role="alert">{{ message }}</div>
    {% endfor %}
    {% endwith %}
  </header>
  {% endif %}

  <main class="container m-0 mw-100" id="main">
    {% block main %}{% endblock %}
  </main>

  {% block more %}{% endblock %}

</body>

</html>