{% extends "layout.html" %}

{% block title %}
- Nueva publicacion
{% endblock %}

{% block main %}

<div id="nuevpublicacion-box">
    <div class="caja" id="publicacion" align="center">
        <form action="/nuevapublicacion" enctype='multipart/form-data' method="post">

            <div class="row pt-2 ml-1 mr-1 mt-2">
                <div class="col-sm-12">
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo" id="titulo"></input>
                </div>

                <div class="col-sm-12 mt-2">
                    <textarea type="text" placeholder="Ingresa una descripcion" class="form-control" name="nota"
                        id="nota"></textarea>
                </div>
                <div class="col-sm-12 mt-2">

                    <select class="form-control" name="categoria" />
                    <option selected="" disabled>Categoria</option>

                    {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                    </select>

                </div>
            </div>

            <div class="row mt-3 ml-1 mr-1">
                <div class="col-6">
                    <label for="exampleFormControlFile1">Imagen 1</label>
                    <input type="file" accept="image/*" class="form-control-file" name="imagen1">
                </div>
                <div class="col-6">
                    <label for="exampleFormControlFile1">Imagen 2</label>
                    <input type="file" accept="image/*" class="form-control-file" name="imagen2">
                </div>
            </div>

            <br>
            <div class="form-group" align="center">
                <button class="btn btn-primary my-2 submit" type="submit">Subir</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}