{% extends "layout.html" %}

{%block title%}

Registro

{% endblock%}

{% block main%}
<div class="login-box">
    <div class="caja" id="register" align="center">
        <form action="/register" method="post">

            

            <h3 class="sign pt-2 pb-4" align="center">{{  gettext(_('Registro')) }}</h3>

            <div class="form-group">

                
                <input autocomplete="off" align="center" class="form-control username text-center mb-4"
                    name="nombre_usuario" placeholder="{{  gettext(_('Nombre de usuario')) }} *" type="text"/>

                <input autocomplete="off" align="center" class="form-control nombre text-center mb-4"
                name="nombre" placeholder="{{  gettext(_('Nombre')) }} *" type="text"/>

                <input autocomplete="off" align="center" class="form-control nombre text-center mb-4"
                name="apellido" placeholder="{{  gettext(_('Apellido')) }} *" type="text"/>

                <input autocomplete="off" align="center" class="form-control text-center mb-4"
                name="correo" id="correo" placeholder="{{  gettext(_('Correo electronico')) }} *" type="email"/>

                <input class="form-control password text-center mb-4" align="center" name="password"
                    placeholder="{{  gettext(_('Contraseña')) }} *" type="password"/>

                <input class="form-control password text-center mb-4" align="center" id="confirmation" name="confirmation"
                    placeholder="{{  gettext(_('Repetir contraseña')) }} *" type="password"/>

                <input autocomplete="off" align="center" class="form-control text-center mb-4"
                name="telefono" id="telefono" placeholder="{{  gettext(_('Telefono')) }}" type="tel" minlength="8"/>
                {% if error %}
                    <style>
                        {% if error == "username" or error == "nombre" %}
                            .{{error}}{
                                border-color: red;
                            }
                        {% else %}
                            #{{error}}{
                                border-color: red;
                            }
                        {% endif %}
                    </style>
                {% endif %}

            </div>
            <div class="form-group" align="center">
                <button class="btn btn-primary my-2 submit" type="submit">{{  gettext(_('Registrar')) }}</button>
            </div>
            
            <a href="login" class="linkRegistro">{{  gettext(_('¿Ya tienes una cuenta?')) }}</a>
            
        </form>
    </div>
</div>
</div>

{% endblock %}